# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @MCterra10
.github @MCterra10
/code/_compile_options.dm @MCterra10
/code/modules/tgs @MCterra10
dependencies.sh @MCterra10
Dockerfile @MCterra10
/SQL @MCterra10
/tools @MCterra10
/config @MCterra10
