@use 'sass:color';
@use 'sass:meta';

<<<<<<< HEAD
$nanotrasen: #6d697a;
=======
$generic: #4c4958;
>>>>>>> 1abdaa9bb3 (Player Panel: Redux (#8014))

@use '../colors.scss' with (
  $fg-map-keys: (),
  $bg-map-keys: (),
  $primary: #ffbf00,
  $yellow: #ffbf00
);
@use '../base.scss' with (
  $color-bg: color.scale($nanotrasen, $lightness: -45%),
  $border-radius: 2px,
  $color-bg-grad-spread: 3%
);

.theme-admin {
  // Components
<<<<<<< HEAD
  @include meta.load-css('../components/Button.scss', $with: (
    'color-default': $nanotrasen,
    'color-transparent-text': rgba(227, 240, 255, 0.75),
  ));
  @include meta.load-css('../components/ProgressBar.scss', $with: (
    'color-default-fill': $nanotrasen,
    'background-color': rgba(0, 0, 0, 0.5),
  ));
=======
  @include meta.load-css(
    '../components/Button.scss',
    $with: (
      'color-default': color.scale($generic, $lightness: -30%),
      'color-transparent-text': rgba(227, 240, 255, 0.75)
    )
  );
  @include meta.load-css(
    '../components/ProgressBar.scss',
    $with: (
      'color-default-fill': $generic,
      'background-color': rgba(0, 0, 0, 0.5)
    )
  );
>>>>>>> 1abdaa9bb3 (Player Panel: Redux (#8014))
  @include meta.load-css('../components/Section.scss');

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
<<<<<<< HEAD
  @include meta.load-css('../layouts/TitleBar.scss', $with: (
    'background-color': color.scale($nanotrasen, $lightness: -25%),
  ));
=======
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: (
      'background-color': color.scale($generic, $lightness: -50%),
      'shadow-color': #ffff0021,
      'shadow-color-core': #ffbf00,
      'shadow-core-height': 3px
    )
  );
>>>>>>> 1abdaa9bb3 (Player Panel: Redux (#8014))

  .Layout__content {
    background-image: url('../../assets/bg-beestation.svg');
  }
}
